<h1>제목 : <%=@location.title%> </h1><br>
<h1>내용 : <%=@location.content%></h1> <br>
<%= image_tag @location.image.url %><br>
<% if @location.email == current_user.email %>
<%= link_to '[삭 제]', "/home/destroy_location/#{@location.id}" %>
<%= link_to '[수 정]', "/home/edit_location/#{@location.id}" %>
<%end%>

<hr>
<form action='/locations/<%=@location.id%>/lcomments/create' method ="POST">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <textarea name ="content"></textarea>
    <input type="submit" value="등록"><br>
</form>

<%@location.lcomments.each do |x|%>
<%=x.user_email%> | <%=x.content%> 
<%if x.user_email == current_user.email %>
<a href="/locations/<%=@location.id%>/lcomments/<%=x.id%>/destroy">[삭 제]</a>
<a href="/locations/<%=@location.id%>/lcomments/<%=x.id%>/edit">[수 정]</a>
<%end%>
<br>
<%end%>
<hr>
<hr>
<a href="/home/show_go">[목록으로]</a>